@model List<eUseControl.Domain.Entities.Music.Musics>
@{
     ViewBag.Title = "Music By Genre";
}

<body id="content">
     <div class="container">
          <div class="row mb-4">
               <div class="col">
                    <h2>@ViewBag.GenreName Music</h2>
                    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
               </div>
          </div>
          <div class="row">
               @if (Model != null && Model.Count > 0)
               {
                    foreach (var music in Model)
                    {
                         <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                              <div class="card position-relative">
                                   <img src="@music.ImagePath" class="card-img-top" alt="Music Image" style="height: 100%; object-fit: cover;">
                                   <div class="card-body cool-background-color">
                                        <h5 class="card-title">@music.Title</h5>
                                        <p class="card-text">@music.Description</p>
                                        <p class="card-text artist">Artist: @music.UserSignUp.ArtistName</p>
                                        <div class="genres">
                                             @foreach (var genre in music.Genres)
                                             {
                                                  <span class="badge badge-secondary">@genre.Name</span>
                                             }
                                        </div>
                                        <div class="audio-controls position-absolute" style="bottom: 10px; right: 10px;">
                                             <button class="btn btn-primary play-button" data-src="@music.FilePath">
                                                  <i class="fas fa-play"></i>
                                             </button>
                                             <audio class="audio-player" controls>
                                                  <source src="@music.FilePath" type="audio/mp3">
                                                  Your browser does not support the audio element.
                                             </audio>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    }
               }
               else
               {
                    <div class="col">
                         <p>No music available for this genre.</p>
                    </div>
               }
          </div>
     </div>
</body>
