@model eUseControl.Domain.Entities.Music.Playlists

@{
     ViewBag.Title = "Playlist Details";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<body >
     <div class="container">
          <div class="row">
               <div class="col-md-6">
                    <h2>@Model.Name</h2>
                    <p>@Model.Description</p>
               </div>
               <div class="col-md-6 text-right">
                    <a href="@Url.Action("Playlist", "Home")" class="btn btn-secondary">Back</a>
               </div>
          </div>

          <ul class="music-list">
               @foreach (var music in Model.Musics)
               {
                    <li class="music-item">
                         <img src="@music.ImagePath" alt="Music Image">
                         <div class="music-details">
                              <h5>@music.Title</h5>
                              <p>@music.Description</p>
                              <p class="artist">Artist: @music.UserSignUp.ArtistName</p>
                         </div>
                         <div class="audio-controls">
                              <button class="btn btn-primary play-button" data-src="@music.FilePath">
                                   <i class="fas fa-play"></i>
                              </button>
                              <audio class="audio-player" controls>
                                   <source src="@music.FilePath" type="audio/mp3">
                                   Your browser does not support the audio element.
                              </audio>
                         </div>
                    </li>
               }
          </ul>
     </div>
</body>
