
<header id="navbar">
     <nav class="navbar fixed-top navbar-expand-lg">
          <div class="container-fluid">

               <div class="navbar-header">
                    <a class="navbar-brand" aria-current="page" target="_blank" href="@Url.Action("Home","Home")">MSphere</a>
               </div>

               <div class="left-nav-toggle">
                    <a href="">
                         <i class="stroke-hamburgermenu"></i>
                    </a>
               </div>

               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                         <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="@Url.Action("Home","Home")"><i class="fas fa-home"></i> Home</a>
                         </li>

                         <li id="search-link" class="nav-item">
                              <a class="nav-link" href="@Url.Action("Search","Home")"><i class="fas fa-search"></i> Search</a>
                         </li>
                    </ul>
               </div>

               <!-- Right side: Register and Login -->
               <div>
                    <ul class="navbar-nav ms-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="@Url.Action("SignUp","Home")"><i class=""></i> Sign Up</a>
                         </li>
                         <li class="nav-home">
                              <a class="nav-link" href="@Url.Action("Login","Login")"><i class=""></i> Log In</a>
                         </li>
                    </ul>
               </div>
          </div>
</nav>
</header>