@model IEnumerable<eUseControl.Domain.Entities.User.UserSignUp>

@{
     ViewBag.Title = "_HeaderAView";
}

<header id="navbar">
     <div class="container-fluid">
          <div class="navbar-header">
               <a class="navbar-brand" aria-current="page" href="@Url.Action("AdminDashboard", "Home")">MSphere</a>
          </div>
          <nav class="navbar navbar-expand-lg navbar-dark">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-column">
                         <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="@Url.Action("AdminDashboard", "Home")"><i class="fas fa-home"></i> Home</a>
                         </li>
                         <li id="search-link" class="nav-item">
                              <a class="nav-link" href="@Url.Action("Control", "Home")"><i class="AControlData"></i> AControl</a>
                         </li>
                    </ul>
               </div>
          </nav>
     </div>
</header>
<header id="fixed-header">
     <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
               @if (System.Web.HttpContext.Current.Session["LoginStatus"].ToString() == "login")
               {
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item dropdown ml-auto">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   @System.Web.HttpContext.Current.Session["Username"]
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="#">Profile</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="#">Settings</a>
                                   <div class="dropdown-divider"></div>
                                   <a class="dropdown-item" href="@Url.Action("LogOut", "Home")">Logout</a>
                              </div>
                         </li>
                    </ul>
               }
               else
               {
                    <ul class="navbar-nav ml-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="@Url.Action("SignUp", "Home")">Sign Up</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="@Url.Action("Login", "Login")">Log In</a>
                         </li>
                    </ul>
               }
          </div>
     </nav>
</header>


